/* ===== WIDGETS ===== */

QMainWindow, QDialog {
    background-color: #2c2c2c; 
}

QGroupBox {
    background-color: #444444;
    border: 1px solid #66666660;
    border-radius: 6px;
    margin-top: 0;
    padding-top: 0px;
}

QComboBox, VocabularyComboBox {
    font-size: 20px; 
    background-color: #444444;
    color: #ffffffff; 
    font-family: "IPAex Mincho";
}

QLabel.title {
    font-size: 22px; 
    font-weight: bold; 
    color: #ffffffff;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-left: 0px;
    margin-top: 0px;
}

QLabel.attributes, QSpinBox, QMenuBar{
    /* background-color: #2c2c2c; */
    font-size: 20px; 
    color: #ffffffff; 
    font-family: "IPAex Mincho";
    padding-top: 0px;
}

QLineEdit, QTextEdit, QSpinBox{
    background-color: #252525;
    font-size: 20px; 
    color: #ffffffff; 
    
    font-family: "IPAex Mincho";
    border: 0px #444444;
}

QLineEdit::selection, QTextEdit::selection{
    background-color: #252525;
    font-size: 20px; 
    color: #ffffffff; 
    font-family: "IPAex Mincho";
    border: 0px #444444;
}


/* ===== BUTTONS ===== */

QPushButton:enabled{
    background-color: #404040;
    font-size: 20px; 
    color: #ffffffff; 
    font-family: "IPAex Mincho";
    border: 1px solid #313131;
}

QPushButton:enabled:hover {
    background-color: #505050; 
    border: 1px solid #313131;  
    
}


QPushButton:disabled {
    background-color: #666666; 
    font-size: 20px; 
    color: #999999;
    font-family: "IPAex Mincho";
    padding-top: 0px;        
    border: 1px solid #666666;
}

QPushButton:pressed {
    background-color: #303030; 
    border: 1px solid #222222; 
    padding-top: 2px; 
}


/* ===== TABLE_VIEW ===== */

QTableView {
    font-family: "IPAex Mincho";
    font-size: 20px;
    background-color: #333;
    gridline-color: black; 
    border-radius: 6px; 
    border: 1px solid #CCC; 
}

QTableView::item {
    font-size: 20px;
    color: white;
    user-select: white;
}

QTableView::item::selection {
    font-size: 20px;
    color: white;
    user-select: white;
}

QHeaderView{
    background-color: #2c2c2c;
}

QHeaderView::section:horizontal {
    background-color: #444444;
    color:white;
    font-size: 18px; 
    font-weight: bold;
    border: 1px solid #CCCCCC;
}

QHeaderView::section:horizontal::selection {
    background-color: #444444;
    color:white;
    font-size: 18px; 
    font-weight: bold;
    border: 1px solid #CCCCCC;
}


QHeaderView::section:vertical {
    background-color: #444444;
    color: white;
    font-size: 20px; 
    font-weight: bold;
    border: 1px solid #CCCCCC;
}

QTableCornerButton::section {
    background-color: #444444; 
    border: 1px solid #CCCCCC; 
}

QScrollBar:vertical {
    border: none;
    background: #333333; 
    width: 10px;
    margin: 0px 0px 0px 0px;
}

QScrollBar::handle:vertical {
    background: #454545; 
    min-height: 20px;
    border-radius: 5px;
    border-color: black;
}

/* ===== QMENU ===== */
QMenu {
    background-color: #2d2d2d; 
    color: #f0f0f0; 
    border: 1px solid #444; 
    padding: 5px; 
    border-radius: 5px; 
    font-family: Arial, sans-serif;
    font-size: 14px;
}

QMenuBar{
    font-size: 18px;
    font-family: "IPAex Mincho"; 
}

QMenu::item {
    /* background-color: transparent;  */
    padding: 6px 20px; 
    margin: 2px 0; 
    border-radius: 3px; 
}

QMenuBar::item:selected {
    background-color: #505050; 
    color: #ffffff; 
}

QMenuBar::item:pressed { 
    background-color: #303030;
    color: #ffffff;
}

QMenu::item:disabled {
    color: #777; 
    background-color: transparent; 
}

QMenu::separator {
    height: 1px; 
    background: #444; 
    margin: 4px 10px; 
}

