QGroupBox {
    background-color: #444444;
    border: 1px solid #66666660;
    border-radius: 6px;
}

QLabel.title{
    font-size: 22px; 
    font-weight: bold; 
    color: #ffffffff;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-left: 0px;
}

QLineEdit, QLabel.attributes, QPushButton{
    font-size: 18px; 
    color: #ffffffff; 
    font-family: "IPAex Mincho";
}

QCombobox{
    font-size: 20px; 
    color: #333; 
    font-family: "IPAex Mincho";
}


