QTableView {
    font-family: "IPAex Mincho";
    font-size: 23px;
    background-color: #333;
    border-radius: 6px; 
    border: 1px solid #CCC; 
}

/* QTableView::item {
    font-size: 23px;
    padding: 5px;
} */


QHeaderView::section:horizontal {
    background-color: #444444;
    font-size: 18px; 
    font-weight: bold;
    /* padding: 5px; */
    border: 1px solid #CCCCCC;
}


QHeaderView::section:vertical {
    background-color: #444444;
    font-size: 23px; 
    font-weight: bold;
    border: 1px solid #CCCCCC;
}

QTableCornerButton::section {
    background-color: #444444; 
    border: 1px solid #CCCCCC; 
}
